<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IntraWeb Sample Page</title>
	
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body ccID="504">

  <div ccID="516" class="container-fluid p-5 my-5 border" style="background-color:DodgerBlue">
    <h1 ccID="603">My First Bootstrap Page</h1>
    <p ccID="641">This part is inside a .container class.</p>
    <p ccID="693">The .container class provides a responsive fixed width container.</p>
  </div>  
  
  </body>
</html>