@charset "utf-8";
/* CSS Document */

body {
	background-color: #3C6;
}

body,td,th {
	font-family: Verdana, Geneva, sans-serif;
	font-size: x-large;
	color: #FF0;
}

ol {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 36px;
}

.alerta {
	font-weight: bolder;
	color: #F00;
	background-color: #FF0;
	font-family: "Courier New", Courier, monospace;
	font-size: large;
	text-decoration: blink;	
}.titulo {
	font-family: Verdana, Geneva, sans-serif;
	font-size: xx-large;
	font-style: italic;
	font-weight: bolder;
	text-decoration: underline;
}
