<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BioLife</title>

<style type="text/css">

table {
    border-collapse: collapse;
    border-spacing: 1;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
	color: #666;
}

th {
	color: #FFF;
	font-weight: bold;
	background-color: #666;
}

tr:nth-child(even){background-color: #f2f2f2}

</style>

</head>


<body>

<h2>Relatório da vida marinha</h2>
<p>Alguns dados sobre a vida marinha.</p>

  {%grdBioLifeData%}

</body>
</html>
