<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<style>

body 
{
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px
}

table
{
	font-family:"Comic Sans MS", cursive;
	font-size: 16px;
	color: #C30;	
}

th
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #333;
	background-color: #999;
}

</style>

<body>
<h1>Isto é uma tabela em HTML</h1>
<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
</table>
</body>
</html>
